pipeline/pl_bronze_ingestion.json
{
	"name": "pl_bronze_ingestion",
	"properties": {
		"activities": [
			{
				"name": "Table_list",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_json",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "bronze",
							"p_folder": "cdc",
							"p_filename": "table_list.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "AllTableBronzeIngestion",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Table_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Table_list').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "current_time",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "current_time",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Lookupcdc",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "ds_adls_json",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "bronze",
										"p_folder": "cdc",
										"p_filename": {
											"value": "@concat(item().table, '_cdc.json')",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "SQL_db_to_bronze",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "current_time",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Lookupcdc",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM ',item().schema,'.',item().table, ' WHERE ',item().cdc_col, ' > ', '''',if(empty(item().from_date),activity('Lookupcdc').output.value[0].cdc,item().from_date),'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sql_db",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_parquet",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "bronze",
										"p_folder": {
											"value": "@item().table",
											"type": "Expression"
										},
										"p_filename": {
											"value": "@concat(item().table,'_',variables('current_time'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "If_incremental",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "SQL_db_to_bronze",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('SQL_db_to_bronze').output.dataRead,0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "DeleteFileWith0Rec",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "ds_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"p_container": "bronze",
													"p_folder": {
														"value": "@item().table",
														"type": "Expression"
													},
													"p_filename": {
														"value": "@concat(item().table,'_',variables('current_time'))",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "update_cdc",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "get_max_cdc_col",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"additionalColumns": [
													{
														"name": "cdc",
														"value": {
															"value": "@activity('get_max_cdc_col').output.resultSets[0].rows[0].cdc_val",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_adls_json",
												"type": "DatasetReference",
												"parameters": {
													"p_container": "bronze",
													"p_folder": "cdc",
													"p_filename": "empty.json"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_json",
												"type": "DatasetReference",
												"parameters": {
													"p_container": "bronze",
													"p_folder": "cdc",
													"p_filename": {
														"value": "@concat(item().table,'_cdc.json')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "get_max_cdc_col",
										"type": "Script",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "ls_sql_db",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "@concat('SELECT MAX(', item().cdc_col,') as cdc_val FROM ',item().schema,'.',item().table)",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"current_time": {
				"type": "String"
			}
		},
		"annotations": []
	}
}